[Unit]
Description=An open source Spotify client
Documentation=https://github.com/plietar/librespot

[Service]
Restart=always
RestartSec=12
ExecStart=/usr/bin/librespot --name "%n@%H"

[Install]
WantedBy=default.target
