[Unit]
Description=An open source Spotify client
Documentation=https://github.com/plietar/librespot
Requires=network-online.target
After=network-online.target

[Service]
User=nobody
Group=audio
Restart=always
RestartSec=10
ExecStart=/bin/sh -c 'exec /usr/bin/librespot --name librespot@$(hostname -s)'

[Install]
WantedBy=multi-user.target
