[Unit]
Description=An open source Spotify client
Documentation=https://github.com/plietar/librespot

[Service]
Restart=always
RestartSec=12
ExecStart=/bin/sh -c 'exec /usr/bin/librespot --name librespot@$(hostname -s)'

[Install]
WantedBy=default.target
