[Unit]
Description=Librespot
Requires=network-online.target
After=network-online.target

[Service]
User=nobody
Group=audio
Restart=always
RestartSec=10
EnvironmentFile=-/etc/conf.d/librespot.conf
ExecStart=/usr/bin/librespot -n "%p on %H" $LIBRESPOT_ARGS

[Install]
WantedBy=multi-user.target

